body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 0.4cm;
    padding: 0;
}

.bodyContent {
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

header {
    text-align: right;
}

header div {
    font-size: 0.3cm;
    padding-top: 0.25cm;
    padding-bottom: 0.25cm;
    padding-right: 25px;
    padding-left: 30px;
    border-bottom-left-radius: 30px;
    background: #47a5f4;
    display: inline-block;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-size: 0.6cm;
    text-align: center;
}

h2 {
    font-size: 0.45cm;
    margin-top: 0.3cm;
    text-decoration: underline;
}

/***** Form components *****/

img.headerImage {
    display: block;
    width: 262px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

p.textLine {
    margin-top: 0.1cm;
    margin-bottom: 0;
    text-align: center;
}

p.textLine label {
    display: inline-block;
    text-align: left;
    width: 4cm;
}

p.textLine input {
    border: none;
    border-bottom: 1px solid black;
    width: 10cm;
}

p.key {
    width: 16cm;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.35cm;
    border-top: 1px solid black;
    padding-top: 0.1cm;
    margin-top: 0.3cm;
}

table.reportSection {
    border-collapse: collapse;
    margin-top: 0.25cm;
    margin-left: auto;
    margin-right: auto;
}

div.editing table.reportSection {
    margin-left: 0;
}

table.reportSection tr.titleHeader th {
    text-align: left;
    border: 2px solid black;
    font-size: 0.45cm;
}

table.reportSection tr.titleHeader th.categoryName {
    width: 11.7cm;
    text-decoration: underline;
}

table.reportSection td.keyName {
    width: 12.3cm;
    padding: 0 0.1cm;
}

table.reportSection td.keyScore {
    width: 1.8cm;
    padding: 0 0.1cm;
}

table.reportSection td.itemName {
    width: 14.3cm;
    padding: 0 0.1cm;
}

table.reportSection td.editButtons {
    width: 80px;
}

table.reportSection input {
    width: 1.3cm;
    border: none;
    text-align: center;
    font-size: 0.4cm;
    padding: 0;
}

table.reportSection td {
    border: 2px solid black;
    width: 1.4cm;
}

div.commentArea {
    margin-left: auto;
    margin-right: auto;
    width: 16cm;
    margin-bottom: 0.5cm;
}

div.commentArea #comments {
    width: 16cm;
}

p.sigLine {
    margin-top: 0.1cm;
    margin-bottom: 0;
    text-align: center;
}

p.sigLine label {
    display: inline-block;
    text-align: left;
    width: 3.3cm;
}

p.sigLine label.date {
    margin-left: 0.5cm;
    width: 1.1cm;
}

p.sigLine input {
    border: none;
    border-bottom: 1px solid black;
    width: 3cm;
}

p.sigLine input.sign {
    width: 7cm;
}

/***** Form editing controls ****/

a.addItem,
a.editItem,
a.previewButton,
a.editDocButton {
    display: inline-block;
    height: 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 2px 6px 2px 22px;
    font-size: 14px;
    line-height: 20px;
    background: #47a5f4 none no-repeat 3px center;
    color: #ffffff;
}

/* TODO: spacing is still not quite right on this compared to link buttons... */
input[name=save] {
    display: inline-block;
    height: 24px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 2px 6px 2px 6px;
    font-size: 14px;
    line-height: 20px;
    background: #47a5f4 none no-repeat 3px center;
    color: #ffffff;
}

/* /images/add.png comes from http://www.fatcow.com/free-icons */
a.addItem {
    background-image: url("/images/add.png");
}

/* /images/pencil.png comes from http://www.fatcow.com/free-icons */
a.editItem {
    background-image: url("/images/pencil.png");
}

/* /images/document_layout.png comes from http://www.fatcow.com/free-icons */
a.previewButton {
    background-image: url("/images/document_layout.png");
}

/* /images/document_prepare.png comes from http://www.fatcow.com/free-icons */
a.editDocButton {
    background-image: url("/images/document_prepare.png");
}

input.editButton,
input.deleteButton,
input.moveDown,
input.moveUp {
    width: 16px;
    height: 16px;
    border: none;
    color: transparent;
}

input.editButton:hover,
input.deleteButton:hover,
input.moveDown:hover,
input.moveUp:hover {
    cursor: pointer;
}

/* /images/pencil.png comes from http://www.fatcow.com/free-icons */
input.editButton {
    background: url("/images/pencil.png") no-repeat center center;
}

/* /images/delete.png comes from http://www.fatcow.com/free-icons */
input.deleteButton {
    background: url("/images/delete.png") no-repeat center center;
}

/* /images/arrow_down.png comes from http://www.fatcow.com/free-icons */
input.moveDown {
    background: url("/images/arrow_down.png") no-repeat center center;
}

/* /images/arrow_up.png comes from http://www.fatcow.com/free-icons */
input.moveUp {
    background: url("/images/arrow_up.png") no-repeat center center;
}

form.buttonForm {
    display: inline-block;
}

form.buttonForm input {
    width: 16px;
    height: 16px;
}

/***** Popup editors *****/

div.mask {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

div.formPopup {
    position: fixed;
    left: 50%;
    width: 13cm;;
    margin-left: -7.5cm;
    top: 20%;
    box-shadow: 2px 2px 5px;
    background: white;
    border-radius: 5px;
}

div.formPopup label {
    float: left;
    clear: left;
    width: 2cm;
    text-align: right;
    padding-right: 0.2cm;
}

div.formPopup input[type=text] {
    width: 8.5cm;
    float: left;
    clear: right;
}

div.formPopup div.buttons {
    float: left;
    clear: left;
    width: 100%;
    text-align: right;
}

div.formPopup input[type=submit], 
div.formPopup input[type=button] {
    text-decoration: none;
    border-radius: 4px;
    border: none;
    margin-top: 5px;
    padding: 2px 6px 2px 6px;
    font-size: 14px;
    background: #47a5f4;
    color: #ffffff;
}

div.formPopup h2 {
    font-size: 0.35cm;
    text-decoration: none;
    margin-top: 0;
    padding-left: 0.1cm;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
    color: #ffffff;
    background: #47a5f4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.formPopup form {
    margin: 0.2cm;
}