@media print {
    table {
        page-break-inside: avoid;
        page-break-after: auto;
    }
    
    table.reportSection td,
    table.reportSection tr.titleHeader th {
        border: 1px solid black;
    }
    
    header,
    a,
    a.editDocButton {
        display: none;
    }
     
}