<div class="formPopup">
    <h2>Add a level to the key</h2>
    <form method="POST" action="/card/{{card_id}}/key_level/add">
        <fieldset>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" />
            <label for="score">Score:</label>
            <input type="text" id="score" name="score" />
            <input type="submit" id="add" name="add" value="Add" />
            <input type="button" class="closer" id="cancel" name="cancel" value="Cancel" />
        </fieldset>
    </form>
</div>