{% extends "templates/shared/base.html" %} 

{% block title %}Edit Form{% endblock %}

{% block body_content %} 
    <h1>Edit {{ card.name }}</h1>
    <div class="editing">
        <h2>Edit Key</h2>
        <table id="keyEditing" class="reportSection">
            {% for key_level in card.key_levels() %} 
                {% include "templates/key_level/edit_row.html" %}
            {% endfor %} 
        </table>
        <a id="addKey" class="formPopper addItem" href="/card/{{ card.key().id() }}/key_level/add_form">Add To Key</a> 
        
        <h2>Edit Text Lines (Top of Form)</h2>
        <table id="textLineEditing" class="reportSection">
            {% for text_line in card.text_lines() %} 
                {% include 'templates/text_line/edit_row.html' %}
            {% endfor %} 
        </table>
        <a id="addText" class="formPopper addItem" href="/card/{{ card.key().id() }}/text_line/add_form">Add a Text Line</a> 
        
        <h2>Edit Categories and Items</h2>
        {% for category in card.categories() %} 
            <div>
                <table id="category{{ category.key().id() }}Editing" class="reportSection">
                    <tr class="titleHeader">
                        <th class="categoryName">{{ category.name }}</th>
                        <th> 
                            <form class="buttonForm" action="/category/{{ category.key().id() }}/edit_form" method="GET">
                                <fieldset>
                                    <input class="editCategory formPopperButton editButton" type="submit" name="edit" value="Edit" title="Edit" />
                                </fieldset>
                            </form>
                            <form class="buttonForm" action="/category/{{ category.key().id() }}/delete_form" method="GET">
                                <fieldset>
                                    <input type="submit" class="deleteCategory formPopperButton deleteButton" name="delete" value="Delete" title="Remove" />
                                </fieldset>
                            </form>
                            <form class="buttonForm" action="/category/{{ category.key().id() }}/move_up" method="POST">
                                <fieldset>
                                    <input type="submit" class="moveUpCategory moveUp" name="moveUp" value="Move Up" title="Move Up" />
                                </fieldset>
                            </form>
                            <form class="buttonForm" action="/category/{{ category.key().id() }}/move_down" method="POST">
                                <fieldset>
                                    <input type="submit" class="moveDownCategory moveDown" name="moveDown" value="Move Down" title="Move Down" />
                                </fieldset>
                            </form>
                        </th>
                    </tr>
                    {% for item in category.items() %} 
                        {% include 'templates/item/edit_row.html' %}
                    {% endfor %} 
                </table>
                <a name="cat{{ category.key().id() }}add" class="addEvalItem addItem formPopper" href="/category/{{ category.key().id() }}/item/add_form">Add an item to {{ category.name }}</a> 
            </div>
        {% endfor %}
        <a id="addCategory" class="formPopper addItem" href="/card/{{ card.key().id() }}/category/add_form">Add A Category</a> 
        
        <h2>Edit Signatures (Bottom of Form)</h2>
        <table id="signatureEditing" class="reportSection">
            {% for signature in card.signatures() %}
                {% include 'templates/signature/edit_row.html' %}
            {% endfor %} 
        </table>
        <a id="addSignature" class="formPopper addItem" href="/card/{{ card.key().id() }}/signature/add_form">Add a Signature</a> <br />
        
        <a id="previewButton" class="previewButton" href="/card/{{ card.key().id() }}/preview">Preview the Report Card</a> 
    </div>
{% endblock %}