{% extends "templates/shared/base.html" %} 

{% block title %}Edit Form{% endblock %}

{% block body_content %} 
    <h1>Edit {{ card.name }}</h1>
    <div class="editing">
        <h2>Edit Key</h2>
        <table id="keyEditing" class="reportSection">
            {% for key_level in card.key_levels() %} 
                {% include "templates/key_level/edit_row.html" %}
            {% endfor %} 
        </table>
        <a id="addKey" class="formPopper addItem" href="/card/{{ card.key().id() }}/key_level/add_form">Add To Key</a> 
        
        <h2>Edit Text Lines (Top of Form)</h2>
        <table id="textLineEditing" class="reportSection">
            {% for text_line in card.text_lines() %} 
                {% include 'templates/text_line/edit_row.html' %}
            {% endfor %} 
        </table>
        <a id="addText" class="formPopper addItem" href="/card/{{ card.key().id() }}/text_line/add_form">Add a Text Line</a> 
        
        <h2>Edit Categories and Items</h2>
        <div id="categoryEditing">
            {% for category in card.categories() %} 
                {% include 'templates/category/edit_table.html' %}
            {% endfor %}
        </div>
        <a id="addCategory" class="formPopper addItem" href="/card/{{ card.key().id() }}/category/add_form">Add A Category</a> 
        
        <h2>Edit Signatures (Bottom of Form)</h2>
        <table id="signatureEditing" class="reportSection">
            {% for signature in card.signatures() %}
                {% include 'templates/signature/edit_row.html' %}
            {% endfor %} 
        </table>
        <a id="addSignature" class="formPopper addItem" href="/card/{{ card.key().id() }}/signature/add_form">Add a Signature</a> <br />
    </div>
{% endblock %}

{% block footer_content %}
    <a id="previewButton" href="/card/{{ card.key().id() }}/preview">Preview the Report Card</a>
{% endblock %}