{% extends "templates/shared/base.html" %}

{% block title %}Report Cards{% endblock %}

{% block extra_css %}
{% endblock %}

{% block body_content %}
  <h1>Report Cards</h1>
  
  <ul>
    {% for card in cards %}
      <li>
        {{ card.name }} 
        <a class="editItem" href="{{ uri_for('card-edit', card_id=card.key().id()) }}">Edit</a>
        <a class="editItem" href="/card/{{ card.key().id() }}/eval/list">Fill Out</a>
        {% if current_user.is_admin %}
          <a class="formPopper addItem" href="/card/{{ card.key().id() }}/add_owner_form">Add Owner</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  
  <a id="addCard" class="formPopper addItem" href="{{ uri_for('card-add-form') }}">Add A New Card</a>
  
{% endblock %}