{% extends "templates/shared/base.html" %}

{% block title %}Edit Form{% endblock %}

{% block extra_css %}
{% endblock %}

{% block body_content %}
  <h1>Edit {{ card.name }}</h1>
  
  {% for category in card.categories() %}
    <div>
      <table class="reportSection">
        <tr class="titleHeader">
          <th class="categoryName">{{ category.name }}</th>
          <th>
            <form action="/category/{{ category.key().id() }}/edit_form" method="GET">
              <formset>
                <input class="formPopperButton" type="submit" name="edit" value="Edit" />
              </formset>
            </form>
            <form action="/category/{{ category.key().id() }}/move_up" method="POST">
              <formset>
                <input type="submit" name="moveUp" value="Move Up" />
              </formset>
            </form>
            <form action="/category/{{ category.key().id() }}/move_down" method="POST">
              <formset>
                <input type="submit" name="moveDown" value="Move Down" />
              </formset>
            </form>
          </th>
        </tr>
      
        {% for item in category.items() %}
          <tr>
            <td class="itemName">{{ item.name }}</td>
            <td>
              <form action="/item/{{ item.key().id() }}/edit_form" method="GET">
                <formset>
                  <input class="formPopperButton" type="submit" name="edit" value="Edit" />
                </formset>
              </form>
              <form action="/item/{{ item.key().id() }}/move_up" method="POST">
                <formset>
                  <input type="submit" name="moveUp" value="Move Up" />
                </formset>
              </form>
              <form action="/item/{{ item.key().id() }}/move_down" method="POST">
                <formset>
                  <input type="submit" name="moveDown" value="Move Down" />
                </formset>
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
      <a name="cat{{ category.key().id() }}add" class="addItem formPopper" href="/category/{{ category.key().id() }}/item/add_form">Add an item to {{ category.name }}</a>
    </div>
  {% endfor %}
  
  <a class="formPopper" href="/card/{{ card.key().id() }}/category/add_form">Add A Category</a>
  
  <a href="/card/{{ card.key().id() }}/preview">Preview the Report Card</a>
{% endblock %}