{% extends "templates/shared/base.html" %}

{% block title %}Edit Form{% endblock %}

{% block extra_css %}
{% endblock %}

{% block body_content %}
  <h1>Edit Report Card</h1>
  
  {% for category in categories %}
    <div>
      <table class="reportSection">
        <tr class="titleHeader">
          <th colspan=2>{{ category.name }}</td>
        </tr>
      
        {% for item in category.items() %}
          <tr>
            <td class="itemName">{{ item.name }}</td>
            <td><input type="text" name="something" disabled=disabled></input></td>
          </tr>
        {% endfor %}
      </table>
      <a class="addItem formPopper" href="/category/{{ category.key().id() }}/item/add_form">Add an item to {{ category.name }}</a>
    </div>
  {% endfor %}
  
  <a class="formPopper" href="/category/add_form">Add A Category</a>
{% endblock %}